#form-chassis {
    background: url('../img/contact-form.png') repeat-x;
    width: 100%;
    padding: 50px 25px;
    box-shadow: 0 0 100px #00000029;
    position: relative;

    .success, .error {
        display: block;
        text-align: center;
        margin: 0 0 50px 0;
        padding: 25px 0;
        font-size: 1.8em;
    }
    .success {
        border-top: 1px solid #8BC34A;
        color: #8BC34A;
        border-bottom: 1px solid #8BC34A;
    }
    .error {
        border-top: 1px solid #F44336;
        color: #F44336;
        border-bottom: 1px solid #F44336;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 20px 0;

        label {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            color: #494949;
            
            @media screen and (min-width: 1024px) {
                width: 25%;
            }

        }
        .container-fields {
            width: 100%;

            @media screen and (min-width: 1024px) {
                width: 70%;
            }
        }
        input, textarea {
            font-size: 1em;
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            box-shadow: none;
            border: 1px solid #607d8b42;
            transition: background .2s, border .2s;
            color: #494949;

            &:focus {
                border: 1px solid #7d7d7d;
                background: #f1f1f1;
            }
            &:hover {
                border: 1px solid #7d7d7d;
            }
        }
        textarea {
            resize: none;
        }
        &.textarea {
            label {
                margin: 0 0 auto 0;
            }
        }
        &.is-invalid {
            label {
                color: #F44336;
            }
            input, textarea {
                border: 1px solid #F44336;
            }
            .alert {
                font-size: .9em;
                margin: 6px 0 0 0;

                &.alert-danger {
                    color: #F44336;
                }
            }
        }
    }
    .files-uploader {
        label {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    #btnFormSubmit {
        font-size: 1em;
        min-width: 1px;
        margin: 50px 0 0 auto;
        padding: 10px 50px;
        background:#F44336;
        border: 1px solid #F44336;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: #fff;
            color: #F44336;
        }
        &:disabled {
            opacity: .4;
            cursor: progress;
            background:#F44336;
            border: 1px solid #F44336;
            color: #fff;
        }
    }
}